@model SGP.HCBBOOK.CORE.Database.User_Game_Owner

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User_Game_Owner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsShowOnMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShowOnMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemoveOnDisk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemoveOnDisk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.List_Game_Disk.NameGame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.List_Game_Disk.NameGame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
