@model IEnumerable<SGP.HCBBOOK.CORE.Database.User_Game_Owner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsShowOnMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRemoveOnDisk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.List_Game_Disk.NameGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsShowOnMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRemoveOnDisk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.List_Game_Disk.NameGame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
