@model IEnumerable<SGP.HCBBOOK.CORE.Busssiness.Models.GameItem>
@using SGP.HCBBOOK.CORE.Busssiness.IService
@using SGP.HCBBOOK.CORE.Busssiness.Service
@using SGP.HCBBOOK.CORE.Busssiness.Models
@{
    IUserService userService = new UserService();
}

<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Danh sách Key Bản quyền
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên game</th>
                                <th>Ngày Scan</th>
                                <th>Dung lượng</th>
                                <th>Phiên bản</th>
                                <th>URL EXE</th>
                                <th>Icon</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Tên game</th>
                                <th>Ngày Scan</th>
                                <th>Dung lượng</th>
                                <th>Phiên bản</th>
                                <th>URL EXE</th>
                                <th>Icon</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{int stt = 0; }
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@(++stt)</td>
                                <td><a href="@Url.Action("Detail", "LicenceManage",new {id = item.Id})">@(String.Format("{0}", item.NameGame))</a></td>
                                <td>@item.DateScan</td>
                                <td>@item.Size</td>
                                <td>@item.Version</td>
                                <td>@item.URLExecute</td>
                                <td>@item.IconUrL</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
