@using SGP.HCBBOOK.CORE.Busssiness.IService
@using SGP.HCBBOOK.CORE.Busssiness.Service
@using SGP.HCBBOOK.CORE.Busssiness.Models

@{ 
    ILicenceService licenceService = new LicenceService();
}

<div class="row clearfix">
    <a href="@Url.Action("index","LicenceManage")">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">Danh sách Licence</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">@licenceService.GetAllLicence().Count()</div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("LicenceNotActive","LicenceManage")">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">help</i>
                </div>
                <div class="content">
                    <div class="text">Licence bị vô hiệu hóa</div>
                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20">@licenceService.GetAllLicence().Where(m=>m.IsActive == false).Count()</div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("ResquestFromDeptKT","LicenceManage")">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">forum</i>
                </div>
                <div class="content">
                    <div class="text">Thống kê</div>
                    <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </a>
    <a href="@Url.Action("create","LicenceManage")">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="text">Tạo Licence mới</div>
                        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                    </div>
                </div>
            </div>
        </a>
</div>
